.board{
    width:calc(100% - 100px);
    display:block;
    height: 100%;
    right:0;
    .boardbtn{
        display:flex;
        .MuiButton-root{
            background-color: $theme-color;
            margin-left: 10px;
            margin-right: 10px;
            color: white;
        }
        .boardupdate{
            .input{
                font-size:100px;
            }
        }
    }
}