.boardview{
    display: flex;
    list-style: none;
    .element{
        .board{
            .boardbtn{
                .boardbtns{}
                .makebtn{}

            }
            .boardupdate{
                .makebtn{}
            }
        }
    }
    /*.board{
        width:calc(100% - 100px);
        display:block;
        height: 100%;
        right:0;
        .boardbtn{
            .boardbtns{
                display:flex;
                .MuiButton-root{
                    background-color: $theme-color;
                    margin-left: 10px;
                    margin-right: 10px;
                    color: white;
                }
                .boardupdate{
                    .input{
                        font-size:100px;
                    }
                }
            }
        }
        .postclass{
            display: flex;
            color:gray;
            text-align: center;
            .title{
                width:50%;
            }
            .writer{
                width:20%;
            }
            .date{
                width:30%;
            }
        }
    }*/
}