.element-left {
    position: relative;
    padding: 10px 0;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
}
.element-right {
    position: relative;
    padding: 10px 0;
    font-size: 24px;

}