.grouplist{
    min-width: 360px;
    background-color: #eaeaea;
    .searchform{

    }
    .makegroupbtn{
        background:$theme-color;
        color :white;
        position: absolute;
        left: 0;
    }
    .groups{
        all:unset;
        display:block;
        background-color: white;
        margin:10px;
        
    }
}