.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $theme-color;
    color: white;
    height: 40px; 
    font-size: 30px;
    display: flex;
    align-items: center;
    .sidebar_button {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
}