.join_title {
    position: relative;
    width: 70%;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
    /*.idbtn {
        background-color: $theme-color;
        height: 20px;
        color: white;
        float: right;
    }*/
    .idbtn:hover{
        background-color:lightcoral;
    }

}