.loginbtn {
    position: relative;
    background: $theme-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    width: 70%; height: 40px;
    left: 50%;
    transform: translateX(-50%);
}