.Timer{
    position: relative;
    width:80%;
    margin-left: 10%;
    font-size: 400%;
    color:$theme-color;
    font-weight: 600;
    .ExerciseSelect{
        margin-left: 25%;
        width:50%;
        font-size:30%;
        display:block;
        font-variant-position:inherit;
        .optin{
            font-size:30%;
        }
    }
    .selecterror{
        color:red;
        font-size: 25%;
        width:100%;
        position: absolute;
    }
    .btnform{
        .btn{
            size:large;
            color:white;
            width:40%;
            background-color:$theme-color;
            margin-left: 10px;
            margin-right: 10px;

        }

    }
    
}
